data/calendar.txt filter=lfs diff=lfs merge=lfs -text
data/routes.txt filter=lfs diff=lfs merge=lfs -text
data/stops.txt filter=lfs diff=lfs merge=lfs -text
data/stop_times.txt filter=lfs diff=lfs merge=lfs -text
data/transfers.txt filter=lfs diff=lfs merge=lfs -text
data/trips.txt filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
